<div class="bg-teal-600 text-white p-4 flex justify-between items-center">
    <div class="flex items-center">
      
      <h1 class="text-lg font-semibold">AI-Powered Prescription Analyzer</h1>
    </div>
    <button (click)="logout()" class="text-white">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
      </svg>
    </button>
  </div>
