<section class="pb-20 px-4">
  <h2 class="text-xl font-semibold text-gray-800 mb-4">Recent Uploads</h2>

  @if (prescriptions.length > 0) {
    @for (prescription of prescriptions; track prescription.id) {
      <div class="flex flex-col md:flex-row justify-between items-center bg-white border border-gray-100 rounded-2xl w-full max-w-4xl m-auto mb-5 p-5 shadow-md hover:shadow-lg transition duration-200">
        <p class="hidden">{{prescription.imageUrl}}</p> <div class="flex-1 md:px-6 text-center md:text-left">
          <p class="text-sm text-gray-500 mb-1">Uploaded on: <span class="font-medium text-gray-700">{{ prescription.uploadedAt | date:'medium' }}</span></p>
          @if (prescription.analysisResult) {
            <div class="mb-2">
              <h6 class="text-sm font-semibold text-green-600">Detection Result:</h6>
              <img [src]="prescription.analysisResult" alt="Detection Image" class="w-full rounded-lg border shadow-md" />
            </div>
            } @else {
            <p class="text-sm text-gray-600 mb-2">No detection analysis available.</p>
          }
          <button (click)="deletePrescription(prescription.id)" class="text-red-600 hover:underline text-sm">Delete Prescription</button>
        </div>
      </div>
      <hr>
    }
  } @else {
    <div class="flex h-[50vh] justify-center items-center">
      <p class="text-gray-400 text-lg">No recent uploads yet</p>
    </div>
  }
</section>